{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}





{% block content %}
{% if bbs %}
{% for bb in bbs %}
{% url 'main:detail' rubric_pk=bb.rubric.pk pk=bb.pk as url %}
<hr/>
    <div class="row g-0">
      <div class="col-md-3">
        <a href='{{ url }}{{ all }}'><img src="{% thumbnail bb.image 'default' %}" class="img-fluid rounded-start" width="200" alt="{{ bb.title }}"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <a href="{{ url }}{{ all }}" class="text-decoration-none text-reset"><h5>{{ bb.title }}</h5></a>
           
          <h6>Автор: {{ author_book.title }}</h6>
         
          <h6>Год релиза: {{ bb.release_date }}</h6>
          <p class="card-text">{% autoescape off %}
            {{ bb.content }}
        {% endautoescape %}</p>
          <p class="card-text"><small class="text-muted"><span class="badge bg-light text-dark">{{ book.category.first }}</span></small></p>
        </div>
      </div> 
    </div>
  

{% endfor %}
{% endif %}
{% endblock %}
